<div class="container">
  <h2 class="form-title">登録情報の編集</h2>

  <div class="form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.label :nickname, "ニックネーム" %><br />
        <%= f.text_field :nickname, autofocus: true, class: "form-text" %>
      </div>

      <div class="field">
        <%= f.label :image, "画像" %><br />
        <%= f.file_field :image, autofocus: true %>
      </div>  

      <div class="field">
        <%= f.label :email, "メールアドレス" %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-text" %>
      </div>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>

      <div class="field">
        <%= f.label :password, "新しいパスワード" %><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-text" %>
        <% if @minimum_password_length %>
          <br />
          <em>※<%= @minimum_password_length %>文字以上の半角英数字</em>
        <% end %>
      </div>

      <div class="field">
        <%= f.label :password_confirmation, "新しいパスワード(確認)" %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-text" %>
      </div>

      <div class="field">
        <%= f.label :current_password, "現在のパスワード" %> <i>(変更前のパスワードを入力してください)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-text" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "send-btn" %>
      </div>
    <% end %>
  </div>
</div>