<div class="article-show-contents">
  <div class="article-title">
    <%= @article.title %>
  </div>
  <div class="article-image">
    <% if @article.images.present? %>
      <% @article.images.each do |image| %>
        <%= image_tag image, class: "article-show-img" %>
      <% end %>
    <% end %>
  </div>
  <div class="article-name">
    <%= link_to "＠#{@article.user.nickname}", user_path(@article.user) %>
  </div>
  <div class="article-text">
    <%= @article.text %>
  </div>
  <div class="article-category">
    <%= link_to "カテゴリー：#{@article.category.name}", category_path(@article.category) %>
  </div>

  <div class="favorite">
    <% if user_signed_in? %>
      <% if current_user.liked_by?(@article) %>
        <%= link_to article_like_path(@article), method: :delete, class: "like-link" do %>
          <i class="fa fa-heart unlike-btn"></i>
        <% end %>
        <%= @article.likes.count %>
      <% else %>
        <%= link_to article_likes_path(@article), method: :post, class: "like-link" do %>
          <i class="fa fa-heart like-btn"></i>
        <% end %>
        <%= @article.likes.count %>
      <% end %>
    <% else %>
      <i class="fa fa-heart like-btn"></i>
      <%= @article.likes.count %>
    <% end %>
  </div>

  <% if user_signed_in? && current_user.id == @article.user_id %>
    <%= link_to "編集", edit_article_path(@article.id) %>
    <%= link_to "削除", article_path(@article.id), method: :delete %>
  <% end %>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
        <%= f.text_area :text, placeholder: "コメントする" %>
        <%= f.submit "コメント" %>
      <% end %>
    <% else %>
      <strong><p>***コメントの投稿には新規登録/ログインが必要です***</p></strong>
    <% end %>
  </div>
  <div class="comment-list">
    <h4>コメント一覧</h4>
    <% @comments.each do |comment| %>
     <p>
       <strong><%= link_to comment.user.nickname, user_path(comment.user) %></strong>
       <%= comment.text %>
     </p>
     <% end %>
  </div>
</div>