<div class="container">
  <div class="article-show-contents">
    <div class="article-show-mdl-contents">
      <div class="article-title">
        <h2><%= @article.title %></h2>
      </div>
      <div class="article-show-image">
        <div class="slider">
          <% if @article.images.present? %>
            <% @article.images.each do |image| %>
              <%= image_tag image, class: "article-show-img" %>
            <% end %>
          <% end %>
        </div>
      </div>

      <div class="article-show-name">
        <%= link_to "投稿者：#{@article.user.nickname}", user_path(@article.user) %>
      </div>
      <div class="article-show-text">
        <%= simple_format(@article.text) %>
      </div>
      <div class="article-show-date">
        <%= l @article.created_at, format: :short %>
      </div>
      <div class="article-category">
        <%= link_to "カテゴリー：#{@article.category.name}", category_path(@article.category) %>
      </div>

      <div class="favorite" id="article_<%= @article.id %>">
        <%= render 'article', article: @article %>
      </div>

      <% if user_signed_in? && current_user.id == @article.user_id %>
        <%= link_to "編集", edit_article_path(@article.id) %>
        <%= link_to "削除", article_path(@article.id), method: :delete %>
      <% end %>
    </div>
  </div>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@article, @comment], local: true) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
        <div class="field">
          <%= f.text_area :text, placeholder: "コメントする", class: "form-long-text" %>
        </div>
        <div class="send">
          <%= f.submit "コメント", class: "send-btn" %>
        </div>
      <% end %>
    <% else %>
      <strong><p>***コメントの投稿には新規登録/ログインが必要です***</p></strong>
    <% end %>
  </div>

  <h2 class="title">コメント一覧</h2>

  <div class="comment-lists">
    <div class="comment-list">
    <% @comments.each do |comment| %>
      <div class="comment-mdl-list">
        <div class="comment-name">
          <strong><%= link_to comment.user.nickname, user_path(comment.user) %></strong>
        </div>
        <div class="comment-text">
          <%= simple_format(comment.text) %>
        </div>
        <div class="comment-date">
          <%= l comment.created_at, format: :short %>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>

<% breadcrumb :show_article, @article %>