<div class="container">
  <h2 class="title">Q＆A</h2>
  <div class="talk-contents">
    <p>質問やお悩み相談ができるスペースです。</p>
    <div class="q-jump">
      <%= link_to "質問・相談する", new_talk_path, class: "q-btn" %>
    </div>
  </div>

  <h2 class="title">質問一覧</h2>
  
  <div class="talk-lists">
    <div class="talk-list">
    <% @talks.each do |talk| %>
      <%= link_to talk_path(talk.id) do %>
        <div class="talk-mdl-list">
          <h3 class="talk-title">
            <%= talk.title %>
          </h3>
          <div class="talk-text">
            <%= talk.text.truncate(50) %>
          </div>
          <div class="talk-bottom">
            <div class="user-name">
              <% if talk.user.image.present? %>
                <%= image_tag talk.user.image, class: "user-icon" %>
              <% else %>
                <%= image_tag "noimage-user.png", class: "user-icon" %>
              <% end %>
              <%= talk.user.nickname %>
            </div>
            <div class="talk-date">
              <%= l talk.created_at, format: :short %>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
    </div>
  </div>
  <%= paginate @talks %>
</div>

<% breadcrumb :talks %>