<div class="container">
  <div class="talk-title">
    <%= @talk.title %>
  </div>
  <div class="talk-name">
    <%= link_to "＠#{@talk.user.nickname}", user_path(@talk.user) %>
  </div>
  <div class="talk-text">
    <%= @talk.text %>
  </div>

  <% if user_signed_in? && current_user.id == @talk.user_id %>
    <%= link_to "編集", edit_talk_path(@talk.id) %>
    <%= link_to "削除", talk_path(@talk.id), method: :delete %>
  <% end %>

  <div class="comment-form">
    <% if user_signed_in? %>
      <%= form_with(model: [@talk, @response], local: true) do |f| %>
        <div class="field">
          <%= f.text_area :text, placeholder: "コメントする" %>
        </div>
        <div class="send">
          <%= f.submit "コメント", class: "send-btn" %>
        </div>
      <% end %>
    <% else %>
      <strong><p>***コメントの投稿には新規登録/ログインが必要です***</p></strong>
    <% end %>
  </div>
  <div class="comment-list">
    <h4>コメント一覧</h4>
    <% @responses.each do |response| %>
     <p>
       <strong><%= link_to response.user.nickname, user_path(response.user) %></strong>
       <%= response.text %>
     </p>
     <% end %>
  </div>
</div>