<div class="container">
  <h2 class="title"><%= @user.nickname %>さん</h2>
  <div class="profile">
    <% if @user.image.present? %>
      <%= image_tag @user.image, class: "user-icon" %>
    <% else %>
      <%= image_tag "noimage.jpg", class: "user-icon" %>
    <% end %>

    <% if user_signed_in? && current_user.id == @user.id %>
      <%= link_to "登録情報の編集", edit_user_registration_path(@user.id) %>
    <% end %>

  </div>
  <h2 class="title"><%= @user.nickname %>さんの記事一覧</h2>
  <div class="article-contents">
    <% @user.articles.each do |article| %>
    <%= render partial: "layouts/article", locals: { article: article } %>
    <% end %>
  </div>
  <h2 class="title"><%= @user.nickname %>さんのいいねした記事一覧</h2>
  <div class="article-contents">
    <% @user.likes.each do |like| %>
      <div class="article-list">
        <%= link_to article_path(like.article.id) do %>
        <div class="article-mdl-list">
          <div class="article-image">
            <% if like.article.images.present? %>
              <% like.article.images.first(1).each do |image| %>
                <%= image_tag image, class: "article-img" %>
              <% end %>
            <% else %>
              <%= image_tag "noimage.jpg", class: "article-img" %>
            <% end %>
          </div>

          <div class="article-info">
            <h3 class="article-title">
              <%= like.article.title %>
            </h3>
            <div class="article-text">
              <%= like.article.text.truncate(20) %>
            </div>
            <div class="article-name">
              <%= "投稿者：#{like.article.user.nickname}" %>
            </div>
          </div>
        </div>
        <% end %>
      </div>    
    <% end %>
  </div>
</div>