<div class="container">
  <h2 class="title"><%= @user.nickname %>さん</h2>
  <div class="profile">
    <div class="user-info">
      <% if @user.image.present? %>
        <%= image_tag @user.image, class: "user-image" %>
      <% else %>
        <%= image_tag "noimage-user.png", class: "user-image" %>
      <% end %>
      <div class="user-edit">
        <% if user_signed_in? && current_user.id == @user.id %>
          <%= link_to "登録情報の編集", edit_user_registration_path(@user.id) %>
        <% end %>
      </div>
    </div>

    <div id="relationship_<%= @user.id %>">
      <%= render partial: "relationships/relationship", locals: { user: @user } %>
    </div>

  </div>
  <h2 class="title"><%= @user.nickname %>さんの記事一覧</h2>
  <div class="article-contents">
    <% @user.articles.reverse_each do |article| %>
    <%= render partial: "layouts/article", locals: { article: article } %>
    <% end %>
  </div>
  <h2 class="title"><%= @user.nickname %>さんのいいねした記事一覧</h2>
  <div class="article-contents">
    <% @user.likes.reverse_each do |like| %>
      <div class="article-list">
        <%= link_to article_path(like.article.id) do %>
        <div class="article-mdl-list">
          <div class="article-image">
            <% if like.article.images.present? %>
              <% like.article.images.first(1).each do |image| %>
                <%= image_tag image, class: "article-img" %>
              <% end %>
            <% else %>
              <%= image_tag "noimage.jpg", class: "article-img" %>
            <% end %>
          </div>

          <div class="article-info">
            <h3 class="article-title">
              <%= like.article.title %>
            </h3>
            <div class="article-text">
              <%= like.article.text.truncate(20) %>
            </div>
            <div class="user-name">
              <% if like.article.user.image.present? %>
                <%= image_tag like.article.user.image, class: "user-icon" %>
              <% else %>
                <%= image_tag "noimage-user.png", class: "user-icon" %>
              <% end %>
              <%= like.article.user.nickname %>
            </div>
          </div>
        </div>
        <% end %>
      </div>    
    <% end %>
  </div>
</div>

<% breadcrumb :show_user, @user %>