<div class="article-list">
  <%= link_to article_path(article.id) do %>
  <div class="article-mdl-list">
    <div class="article-image">
    <% if article.images.present? %>
      <% article.images.first(1).each do |image| %>
        <%= image_tag image, class: "article-img" %>
      <% end %>
    <% else %>
      <%= image_tag "noimage.jpg", class: "article-img" %>
    <% end %>
    </div>
  
    <div class="article-info">
      <h3 class="article-title">
        <%= article.title %>
      </h3>
      <div class="article-text">
        <%= article.text.truncate(20) %>
      </div>
      <div class="article-name">
        <%= "投稿者：#{article.user.nickname}" %>
      </div>
    </div>
  </div>
  <% end %>
</div>