<!DOCTYPE html>
<html>
  <head>
    <title>Glossix</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="header">

      <div class="nav_left">
        <%= link_to image_tag("logo.jpg", class: :logo), root_path %>
      </div>

      <div class="nav_right">
        <%# ログイン状態 %>
        <% if user_signed_in? %>
          <%= link_to current_user.nickname, "#" %>
          <%= link_to "ログアウト", destroy_user_session_path, method: :DELETE %>
        <%# ログアウト状態 %>
        <% else %>
          <%= link_to "新規登録", new_user_registration_path %>
          <%= link_to "ログイン", new_user_session_path %>
        <% end %>
      </div>

    </header>
    <%= yield %>
    <footer class="footer">
      <p class="copyright">©︎ 2021 GLOSSIX</p>
    </footer>
  </body>
</html>
